.jumbotron {
  padding-top: 6rem;
  background-color: #d2def1;
}

#Gallery {
  background-color: #d2def1;
}

#contact {
  padding-top: 2rem;
}

#footer {
  background-color: #d2def1;
  color: #acacac;
}
